.how-to-use-wrapper-2{
    width: 100%;  
    height: 100vh;
    display: flex;
    overflow: hidden;
  
    
}

.sect-19-col-01{
    width: 45%;
    height: 100%;
   
    
}
.sect-19-col-02{
    display: flex;
    width: 55%;
    height: 100%;
    align-items: center;
    
}

.sect-19-image{
      position: relative;      
      height: 100vh;
      width: auto;
   } 
   img{
       height: inherit;
       width: inherit;
   }
.sect-19-description{
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    position: relative;   
    left: 10vw;
    
}

.sect-19-title{
    position: relative; 
    display: flex;
    align-items: flex-start;
    margin-top: 40vh;
    margin-left: -25vw;
}
.sect-19-content{
    margin-top: 10vh;
    max-width: 30vw;
}

@media screen and (max-width: 1280px){
    .sect-19-image{
        margin-top: 5vh;
        height: 90vh;
       
    } 

    .sect-19-title{      
        margin-left: -20vw;
    }
    .sect-19-content{
        margin-top: 10vh;
        min-width: 35vw;
        max-width: 50vw;
        margin-left: 6vw;
    }
    
}

@media screen and (max-width: 600px){
    .how-to-use-wrapper-2{
        flex-direction: column-reverse;
        
    }
    
    .sect-19-col-01{
        width: 100%;
        height: auto;
       
        
    }
    .sect-19-col-02{
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        
    }
    
    .sect-19-image{
          position: relative;      
          height: 70vh;
          width: auto;     
          margin-left: -10vw;
          margin-top: -10vh;
       } 
       img{
           height: inherit;
           width: inherit;
           margin-left: inherit;
           
        }
    .sect-19-description{
        height: inherit;
        width: inherit;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 0vh;
        margin-left: 0vw;
        
    }
    
    .sect-19-title{
        position: relative; 
        display: flex; 
        margin-top: 0vh;
        align-items: flex-start;
        font-size: 30px;
    }
    .sect-19-content{
        margin-top: 0vh;
        max-width: 30vw;
    }
}