.sect-11-wrapper{
    overflow: hidden;
    width: 100%;
    height: 100vh;
 
}


@media screen and (max-width: 1280px){
    .sect-11-image{
          
        height: 90vh;
        margin-top: 3vh;
     
    }

    .sect-11-content{
        max-width: 35vw;
    }
}