.contentsBox {
  margin-top: 50px;
}

.contentsBox>h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: capitalize;
  color: #115157;
}

.contentsBox>p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #535353;
  margin-top: 20px;
}
.pdHeroImg{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
