.food-logs-wrapper{
    width: 100%;    
    height: 100vh;
    display: flex;
    
    
}



.sect-13-image{
    position: relative;    
    height: 90vh;
    margin-top: 5vh;
    margin-left: 3vw;
    width: auto;
    float: right;
  }
  img{
      height: inherit;
      width: inherit;
  }

.sect-13-col-02{
    display: flex;
}

.sect-13-content{
    position: relative; 
    margin-top: 35vh;
}

@media screen and (max-width: 600px){
    .food-logs-wrapper{
       flex-direction: column-reverse;
    }
    .sect-13-image{
         
        height: auto;
        margin-top: 0%;
        width: 100%;
        float: right;
      }
      img{
          height: inherit;
          width: inherit;
      }
    
    .sect-13-col-02{
        display: flex;
    }
    
    .sect-13-content{
        position: relative; 
        margin-top: 35vh;
    }
}
